
<div *ngIf="showLogin" class="container py-5 h-96">
    <div class="row d-flex justify-content-center align-items-center h-96">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase fs-2">Iniciar seccion</h2>
                        <p class="text-white-50 mb-5">Por favor ingrese su correo y contraseña</p>

                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typeEmailX">Email</label>
                                <input name="email" type="email" id="typeEmailX" placeholder="Enter your email" class="form-control form-control-lg" formControlName="correo" />
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">Password</label>
                                <input name="password" type="password" id="typePasswordX" placeholder="Enter your password" class="form-control form-control-lg"  minlength="2" maxlength="20" formControlName="contrasenia"   />
                            </div>

                            <button class="btn btn-primary btn-lg px-5" type="submit" value="submit">Login</button>
                        </form>
                    </div>

                    <div>
                        <!-- <button class="btn btn-danger btn-lg px-5" routerlink="/signup">SignUp</button> -->
                        <p class="mb-0">No tienes una cuenta? <a (click)="openSignUp()" class="text-white-50 fw-bold">Sign Up</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Formulario de registro -->
<div *ngIf="!showLogin" class="px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="">
        <div class="row gx-lg-5 align-items-center justify-content-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="bg-dark card-body py-5 px-md-5">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form [formGroup]="signupForm1" (ngSubmit)="onSubmit1()">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <h2 class="fw-bold mb-4 text-uppercase fs-2 text-white text-center">Registrar usuario</h2>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input name="nombre1" type="text" id="form3Example11" class="form-control" formControlName="nombre" />
                                            <label class="form-label text-white" for="form3Example1">First name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input name="apellido1" type="text" id="form3Example21" class="form-control"  formControlName="apellido"/>
                                            <label class="form-label text-white" for="form3Example2">Last name</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input name="email" type="text" id="form3Example3" class="form-control"  formControlName="correo"/>
                                    <label class="form-label text-white" for="form3Example3">Email address</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input name="password" type="password" id="form3Example4" class="form-control"  formControlName="contrasenia"/>
                                    <label class="form-label text-white" for="form3Example4">Password</label>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                            </form>
                        </div>
                        <div>
                            <p class="mb-0">Ya tiene una cuenta? <a (click)="openLogin()" class="text-white-50 fw-bold">Iniciar seccion</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>